
:root{
    --MOBILE-DEVICE-WIDTH: 120px;
    --MEDIUM-DEVICE-WIDTH: 120px;
    --LARGE-SCREEN-WIDTH: 120px;
}

img{
    display: block;
    width: 100%;
    height: 100%;
}

.product-container, .non-scrollable-container{
    display: flex;
    flex-flow: column;
    box-shadow: 0px 0px 2px 1px rgba(51, 51, 51, 0.1);
    transition: all .5s ease-in-out;
    padding: .5em;
}

.product-container:hover{
    display: flex;
    flex-flow: column;
    justify-content: center;
    transform: Scale(1.1);
}

.product-container a, .non-scrollable-container a{
    display: contents;
    text-decoration: none;
    color: #333;
}

.product-container:active, .product-container:focus {
    text-decoration: none;
    color: #333;
}

.non-scrollable-container:active, .non-scrollable-container:focus{
    text-decoration: none;
    color: #333;
}


.scrollable{
    flex: 0 0 auto;
}



@media screen and (max-width: 550px) {
    .product-container-width, .non-scrollable-container-width{
        width: max(40%, var(--MOBILE-DEVICE-WIDTH));
    }
    .product-container, .non-scrollable-container{
        justify-content: space-around;
    }
}

@media screen and (min-width: 550px) and (max-width: 768px) {
    .product-container-width, .non-scrollable-container-width{
        width: max(var(--MEDIUM-DEVICE-WIDTH, 30%));
    }
}

@media screen and (min-width: 768px) {
    .product-container-width, .non-scrollable-container-width{
        width: min(20%,var(--LARGE-SCREEN-WIDTH));
    }
}


.product-container img, .non-scrollable-container img{
    height: auto;
    flex-grow: 2;
}



.product-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.product-options{
    padding: 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 5px;
}


